.sidedrawer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    width: 75vw;
    top: 0;
    transform: translateX(75vw);
    background-color: rgba(0, 0, 0, 0.664);
    right: 0;
    transition : all 0.5s ease-in-out;
}

.sidedrawer .img-cover {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    filter: brightness(150%) contrast(60%);
    right: 0;
    width: 100%;
    height: 100%
}

.img-cover+*, .img-cover+*+* {
    z-index: 10;
}

.sidedrawer-header {
    box-sizing: border-box;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img:last-child {
    height: 100%
}

.sidedrawer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.link-group {
    display: flex;
    flex: 1 30%;
    align-items: center;
    flex-direction: column;
    row-gap: 3vh;
}

.link-group .sublink-list {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
